<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://timetracker.gsquaredsoftware.com/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>timetracker.gsquaredsoftware.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>timetracker.gsquaredsoftware.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>dbossWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TimeTrackerEntitiesContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=TimeTracker;User ID=ttusr;Password=tt12345" Name="Data Source=(local);Initial Catalog=TimeTracker;User Id=ttusr;Password=tt12345" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=holly.arvixe.com;Initial Catalog=TimeTracker_DEVL;User ID=ttusr;Password=tt12345;Application Name=EntityFramework" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TimeTrackerEntitiesContainer_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TimeTracker.csdl|res://*/TimeTracker.ssdl|res://*/TimeTracker.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=holly.arvixe.com;database=TimeTracker_DEVL;User Id=ttusr;Password=tt12345;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=holly.arvixe.com;Initial Catalog=TimeTracker_DEVL;User ID=ttusr;Password=tt12345;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TimeTrackerEntitiesContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="2" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=TimeTracker;User ID=ttusr;Password=tt12345" Name="Data Source=(local);Initial Catalog=TimeTracker;User Id=ttusr;Password=tt12345" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=holly.arvixe.com;Initial Catalog=TimeTracker_DEVL;User ID=ttusr;Password=tt12345" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=holly.arvixe.com;Initial Catalog=TimeTracker_DEVL;User Id=ttusr;Password=tt12345;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=holly.arvixe.com;Initial Catalog=TimeTracker_DEVL;User ID=ttusr;Password=tt12345" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=(local);Initial Catalog=TimeTracker;User Id=ttusr;Password=tt12345</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TimeTrackerEntitiesContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/TimeTracker.csdl|res://*/TimeTracker.ssdl|res://*/TimeTracker.msl;provider=System.Data.SqlClient;provider connection string="data source=(local);initial catalog=TimeTracker;user id=ttusr;password=tt12345;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>