@{
    ViewBag.Title = "Invoicing";
}

<h2>Invoicing</h2>

@Html.ActionLink("ITIM Report", "ItimeReport", "Invoicing")
<br/>
@Html.ActionLink("QuickBooks Timesheet Export", "QuickbooksTimesheetExport", "Invoicing")