@{
    ViewBag.Title = "Manage Clients";
}

<script src="@Url.Content("~/Scripts/client.js")"></script>

<h2>Manage Clients</h2>

<div id="GridErrors"></div>
<button id="btnAddClient" class="addButton">Add Client</button>
<table id="clients"></table>

<script type="text/javascript">
    $(document).ready(function() {
        clientHelper.init();
    });
</script>
