/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
	background-color: #ccc;
	font-size: 75%;
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	color: #000000;
}

a:link
{
	color: #034af3;
	text-decoration: underline;
}
a:visited
{
	color: #505abc;
}
a:hover
{
	color: #1d60ff;
	text-decoration: none;
}
a:active
{
	color: #12eb87;
}



/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
	font-size: 1.5em;
	color: #000;
}

h1
{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}
h2
{
	padding: 0 0 10px 0;
}
h3
{
	font-size: 1.2em;
}
h4
{
	font-size: 1.1em;
}
h5, h6
{
	font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
	margin-top: 0;
}

/* BUTTONS */
.deleteButton {
    background-image: url("Images/delete.png");
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.addButton {
    background-image: url("Images/add.png");
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    padding-left: 22px;
    font-weight: bold;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

#header
{
	position: relative;
	margin: 0;
	color: #000;
	padding: 0;
	width: 100%;
	height: 35px;
}

.titleText
{
	font-weight: bold;
	color: #fff;
	font-size: 24px !important;
	margin-left: 30%;
	vertical-align: middle;
	font-family: "Garamond, Georgia, Serif";
}

#main
{
	padding: 30px 10px 15px 10px;
	background-color: #fff;
	_height: 1px; /* only IE6 applies CSS properties starting with an underscore */
	width: 1200px;
	border-left: 1px solid #1663B1;
	border-right: 1px solid #1663B1;
	margin-left: 75px;
}

#footer
{
	color: #999;
	text-align: center;
	line-height: normal;
	margin: 0;
	font-size: .9em;
	width: 100%;
	height: 25px;
}



/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend
{
	font-size: 1.2em;
	font-weight: bold;
}

textarea
{
	min-height: 75px;
}


/* TABLE
----------------------------------------------------------*/

table
{
	border: solid 1px #e8eef4;
	border-collapse: collapse;
}

table td
{
	padding: 5px;
	border: solid 1px #e8eef4;
	font-size: small;
}

table th
{
	padding: 6px 5px;
	text-align: left;
	background-color: #e8eef4;
	border: solid 1px #e8eef4;
	font-size: small;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
	clear: both;
}

.error
{
	color: Red;
	font-weight: bold;
}

#menucontainer
{
	clear: none;
	width: 1220px;
	margin-left: 75px;
}

#menucontainer table
{
	border: none;
	border-collapse: collapse;
    width: 100%;
}

#menucontainer table td
{
	padding: 5px;
    padding-right: 25px;
	border: none;
	font-size: small;
}

#menucontainer table th
{
	padding: 0;
	text-align: left;
	border: none;
	font-size: small;
}

#mainMenu td {
    white-space: nowrap;
    width: auto;
}

#mainMenu li {
    white-space: nowrap;
    width: auto;
}

#title
{
	width: 100%;
	text-align: left;
	height: 35px;
	margin-left: 3px;
}

#logindisplay
{
	font-size: 1.1em;
	display: block;
	text-align: right;
	margin: 9px;
	color: White;
	float: right;
	padding-right: 20px;
}

#logindisplay a:link
{
	color: white;
	text-decoration: underline;
}

#logindisplay a:visited
{
	color: white;
	text-decoration: underline;
}

#logindisplay a:hover
{
	color: white;
	text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
	margin: 1em 0 0 0;
	font-weight: bold;
	width: 25%;
	float: left;
	clear: left;
}

.display-field, .editor-field
{
	margin: 1em 0 0 2em;
	float: left;
	width: 70%;
}

.display-label-multi-value, .editor-label-multi-value
{
	margin: 1em 0 0 0;
	font-weight: bold;
	float: left;
	clear: left;
}

.display-field-multi-value, .editor-field-multi-value
{
	margin: 0.5em 0 0 0;
	float: left;
	clear: left;
}

.text-box
{
	width: 30em;
}

.text-box.multi-line
{
	height: 6.5em;
}

.tri-state
{
	width: 6em;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: relative;
    top: -1px;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    height: 1.95em;
}

.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}