<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://timetracker.gsquaredsoftware.com</SiteUrlToLaunchAfterPublish>
    <publishUrl>ftp://ftp.gsquaredsoftware.com/timetracker.gsquaredsoftware.com/wwwroot/</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>dboss_ftp</UserName>
    <_SavePWD>True</_SavePWD>
    <FtpSitePath />
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_GlobalResources/EditorLocalization.bg-BG.resx">
      <publishTime>07/18/2012 19:07:40</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.de-DE.resx">
      <publishTime>07/18/2012 19:07:40</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.en-US.resx">
      <publishTime>07/18/2012 19:07:41</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.fr-FR.resx">
      <publishTime>07/18/2012 19:07:41</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.nl-NL.resx">
      <publishTime>07/18/2012 19:07:41</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.pl-PL.resx">
      <publishTime>07/18/2012 19:07:41</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.pt-BR.resx">
      <publishTime>07/18/2012 19:32:10</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.resx">
      <publishTime>07/18/2012 19:07:41</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.ru-RU.resx">
      <publishTime>07/18/2012 19:07:41</publishTime>
    </File>
    <File Include="App_GlobalResources/EditorLocalization.uk-UA.resx">
      <publishTime>07/18/2012 19:07:41</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.bg-BG.resx">
      <publishTime>07/18/2012 19:32:10</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.de-DE.resx">
      <publishTime>07/18/2012 19:32:11</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.en-US.resx">
      <publishTime>07/18/2012 19:32:11</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.es-ES.resx">
      <publishTime>07/18/2012 19:32:11</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.fr-FR.resx">
      <publishTime>07/18/2012 19:32:12</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.pl-PL.resx">
      <publishTime>07/18/2012 19:32:11</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.pt-BR.resx">
      <publishTime>07/18/2012 19:32:11</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.pt-PT.resx">
      <publishTime>07/18/2012 19:32:12</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.resx">
      <publishTime>07/18/2012 19:32:13</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.ru-RU.resx">
      <publishTime>07/18/2012 19:32:12</publishTime>
    </File>
    <File Include="App_GlobalResources/GridLocalization.uk-UA.resx">
      <publishTime>07/18/2012 19:32:12</publishTime>
    </File>
    <File Include="App_GlobalResources/UploadLocalization.bg-BG.resx">
      <publishTime>07/18/2012 19:07:43</publishTime>
    </File>
    <File Include="App_GlobalResources/UploadLocalization.en-US.resx">
      <publishTime>07/18/2012 19:07:43</publishTime>
    </File>
    <File Include="App_GlobalResources/UploadLocalization.pl-PL.resx">
      <publishTime>07/18/2012 19:07:43</publishTime>
    </File>
    <File Include="App_GlobalResources/UploadLocalization.ru-RU.resx">
      <publishTime>07/18/2012 19:07:43</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.Core.dll">
      <publishTime>07/18/2012 23:00:04</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.Core.UI.dll">
      <publishTime>07/18/2012 23:00:03</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.Core.UI.xml">
      <publishTime>07/18/2012 23:00:03</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.Core.xml">
      <publishTime>07/18/2012 23:00:03</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.OpenId.dll">
      <publishTime>07/18/2012 23:00:05</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.OpenId.RelyingParty.dll">
      <publishTime>07/18/2012 23:00:05</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.OpenId.RelyingParty.UI.dll">
      <publishTime>07/18/2012 23:00:06</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.OpenId.RelyingParty.UI.xml">
      <publishTime>07/18/2012 23:00:06</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.OpenId.RelyingParty.xml">
      <publishTime>07/18/2012 23:00:06</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.OpenId.UI.dll">
      <publishTime>07/18/2012 23:00:05</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.OpenId.UI.xml">
      <publishTime>07/18/2012 23:00:05</publishTime>
    </File>
    <File Include="bin/DotNetOpenAuth.OpenId.xml">
      <publishTime>07/18/2012 23:00:05</publishTime>
    </File>
    <File Include="bin/Mono.Math.dll">
      <publishTime>07/18/2012 23:00:04</publishTime>
    </File>
    <File Include="bin/Mono.Math.xml">
      <publishTime>07/18/2012 23:00:05</publishTime>
    </File>
    <File Include="bin/Org.Mentalis.Security.Cryptography.dll">
      <publishTime>07/18/2012 23:00:05</publishTime>
    </File>
    <File Include="bin/Org.Mentalis.Security.Cryptography.xml">
      <publishTime>07/18/2012 23:00:05</publishTime>
    </File>
    <File Include="bin/Telerik.Web.Mvc.dll">
      <publishTime>07/18/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/TimeTracker.dll">
      <publishTime>07/19/2012 00:01:42</publishTime>
    </File>
    <File Include="bin/TimeTracker_BL.dll">
      <publishTime>07/18/2012 23:55:51</publishTime>
    </File>
    <File Include="bin/TimeTracker_DL.dll">
      <publishTime>07/18/2012 23:55:51</publishTime>
    </File>
    <File Include="bin/TimeTracker_Entities.dll">
      <publishTime>07/18/2012 23:55:50</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/editor.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/imagebrowser.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/loading.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/slider-h.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/slider-v.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/sprite.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/treeview-line.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Black/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/editor.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/imagebrowser.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/loading.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/slider-h.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/slider-v.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/sprite.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/treeview-line.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Default/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/editor.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/imagebrowser.png">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/loading.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/slider-h.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/slider-v.gif">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/sprite.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/treeview-line.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Forest/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/editor.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/imagebrowser.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/loading.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/slider-h.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/slider-v.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/sprite.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/treeview-line.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Hay/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Metro/editor.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Metro/imagebrowser.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Metro/loading.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Metro/slider-h.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Metro/slider-v.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Metro/sprite.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/editor.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/imagebrowser.png">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/loading.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/slider-h.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/slider-v.gif">
      <publishTime>07/18/2012 19:32:16</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/sprite.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/treeview-line.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2007/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/editor.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/imagebrowser.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/loading.gif">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/slider-h.gif">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/slider-v.gif">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/sprite.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/treeview-line.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Black/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:17</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Blue/editor.png">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Blue/gradient.png">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Blue/imagebrowser.png">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Blue/loading.gif">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Blue/slider-h.gif">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Blue/slider-v.gif">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Blue/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Blue/sprite.png">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Silver/editor.png">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Silver/gradient.png">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Silver/imagebrowser.png">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Silver/loading.gif">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Silver/slider-h.gif">
      <publishTime>07/18/2012 19:32:18</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Silver/slider-v.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Silver/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Office2010Silver/sprite.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/editor.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/imagebrowser.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/loading.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/slider-h.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/slider-v.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/sprite.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/treeview-line.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Outlook/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/editor.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/imagebrowser.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/loading.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/slider-h.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/slider-v.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/sprite.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/treeview-line.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Simple/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/editor.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/imagebrowser.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/loading.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/slider-h.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/slider-v.gif">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/sprite.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/treeview-line.png">
      <publishTime>07/18/2012 19:32:19</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sitefinity/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/editor.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/imagebrowser.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/loading.gif">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/slider-h.gif">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/slider-v.gif">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/sprite.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/treeview-line.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Sunset/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.black.min.css">
      <publishTime>07/18/2012 19:32:13</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.common.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.default.min.css">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.forest.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.hay.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.metro.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.office2007.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.office2010black.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.office2010blue.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.office2010silver.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.outlook.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.rtl.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.simple.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.sitefinity.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.sunset.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.telerik.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.transparent.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.vista.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.web20.min.css">
      <publishTime>07/18/2012 19:32:14</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.webblue.min.css">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/telerik.windows7.min.css">
      <publishTime>07/18/2012 19:32:15</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/editor.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/imagebrowser.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/loading.gif">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/slider-h.gif">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/slider-v.gif">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/sprite.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/treeview-line.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Telerik/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/active.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/editor.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/gradient.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/group.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/hover.png">
      <publishTime>07/18/2012 19:32:20</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/imagebrowser.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/loading.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/selected.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/slider-h.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/slider-v.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/sprite.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/toolbar.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Transparent/widget.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Vista/editor.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Vista/imagebrowser.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Vista/loading.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Vista/slider-h.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Vista/slider-v.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Vista/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Vista/sprite.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/editor.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/imagebrowser.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/loading.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/slider-h.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/slider-v.gif">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/sprite.png">
      <publishTime>07/18/2012 19:32:21</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/treeview-line.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/Web20/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/editor.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/imagebrowser.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/loading.gif">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/slider-h.gif">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/slider-v.gif">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/sprite.png">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/treeview-line.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/treeview-nodes-rtl.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/WebBlue/treeview-nodes.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/Windows7/editor.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/Windows7/imagebrowser.png">
      <publishTime>07/18/2012 19:32:22</publishTime>
    </File>
    <File Include="Content/2012.2.607/Windows7/loading.gif">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Content/2012.2.607/Windows7/slider-h.gif">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Content/2012.2.607/Windows7/slider-v.gif">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Content/2012.2.607/Windows7/sprite-vertical.png">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Content/2012.2.607/Windows7/sprite.png">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Content/Images/favorites.ico">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Content/Images/G-SquaredLogo4.png">
      <publishTime>07/18/2012 19:07:53</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>07/18/2012 19:07:43</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>07/18/2012 19:07:40</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/18/2012 19:32:10</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/jquery-1.7.1.min.js">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/jquery.validate.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.all.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.autocomplete.min.js">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.calendar.min.js">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.chart.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.combobox.min.js">
      <publishTime>07/18/2012 19:32:23</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.common.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.datepicker.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.datetimepicker.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.draganddrop.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.editor.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.grid.editing.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.grid.filtering.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.grid.grouping.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.grid.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.grid.reordering.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.grid.resizing.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.imagebrowser.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.list.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.menu.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.panelbar.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.slider.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.splitter.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.tabstrip.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.textbox.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.timepicker.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.treeview.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.upload.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/2012.2.607/telerik.window.min.js">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Scripts/date.js">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Scripts/jquery-1.4.4-vsdoc.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/jquery-1.4.4.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/jquery-1.4.4.min.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/jquery-ui.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/jquery-ui.min.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>07/18/2012 19:07:54</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Scripts/time.js">
      <publishTime>07/18/2012 19:07:55</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>07/18/2012 19:07:56</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>07/18/2012 19:07:56</publishTime>
    </File>
    <File Include="Views/Account/LogOn.cshtml">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Client/Index.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Lookups/Index.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Project/Index.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/BillingCategory.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/BillingTerms.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Client.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Currency.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Date.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/DateTime.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Integer.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Number.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Project.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Time.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Views/Shared/_LogOnPartial.cshtml">
      <publishTime>07/18/2012 19:32:24</publishTime>
    </File>
    <File Include="Views/TimeEntry/Index.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/TimeEntry/WeeklyRevenueReport.cshtml">
      <publishTime>07/18/2012 19:07:57</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>07/18/2012 23:56:22</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>07/18/2012 19:07:56</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/18/2012 23:56:07</publishTime>
    </File>
  </ItemGroup>
</Project>